body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgba(135, 207, 235, 0.616);
}

textarea{

  background: transparent;
  border: none;
  resize: none  ;
  color: #000000;
  width: 100%;
 
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
  width:100%;
  text-align: center;
  font-family: 'Kalam';font-size: 22px;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  width: 100;
 
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid rgb(0, 0, 2);
}



.past,{
  background-color: rgba(212, 214, 235, 0.1);
 
}

.present {
  background-color: rgba(9, 255, 0, 0.342);
  
}

.future {
  background-color: rgba(55, 243, 243, 0.4);
}

.saveBtn,.trashBtn {
  border-left: 1px solid black;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.saveBtn
{
  background-color:rgba(36, 214, 238, 0.822);
  color: rgba(7, 82, 13, 0.808);
}

.trashBtn
{
  background-color:rgba(36, 214, 238, 0.822);
  color:  rgba(243, 14, 52, 0.753);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
